<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>books</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap-theme.min.css">
    <meta charset="UTF-8" >
</head>
<body>
    <div class="container">
        <h2 class="page-header">书单列表</h2>
        <!--text-right:放在右边-->
        <!--为实现页面跳转需要专门写一个controller-->
        <p class="text-right"><a href="#" th:href="@{/template/books/input}" class="btn btn-primary">新增</a></p>
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>书名</th>
                <th>作者</th>
                <th>说明</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <!--book: the class from backend; books: the object name from backend-->
            <tr th:each="book,iterStat:${books}">
                <!--count:计数
                index：索引，从0开始
                size：显示列表总条数
                even／odd：可以根据奇偶显示不同颜色
                first/last:返回true/false
                -->
                <td th:text="${iterStat.count}">1</td>
                <td><a herf="#" th:text="${book.name}" th:href="@{'/template/books/' + ${book.id}}">书名</a></td>
                <td th:text="${book.author}">作者</td>
                <td th:text="${book.description}">说明</td>
                <td th:switch="${book.status}">
                    <span th:case="0">想读</span>
                    <span th:case="1">在读</span>
                    <span th:case="2">已读</span>
                    <span th:case="*">状态</span>
                </td>
                <td>
                    <a href="#" th:href="@{/template/books/{id}/input(id=${book.id})}">更新</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>