<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>books</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap-theme.min.css">
    <meta charset="UTF-8" >
</head>
<body>
<div class="container" style="max-width: 700px;">
    <h2 class="page-header">Welcome to Library System</h2>
    <p class="text-right"><a href="#" th:href="@{/login/admin}" class="btn btn-primary">Admin Login</a></p>
    <div class="well">
        <form action="#" th:action="@{/reader{id}(id=${readerId})}" method="get">
            <div class="form-group">
                <label for="readerId">Please type in your reader Id</label>
                <input type="text" name="reader_Id" id="readerId" class="form-control">
            </div>
            <p class="text-center">
                <!--btn primary：button is blue-->
                <button type="submit" class="btn btn-primary">submit</button>
            </p>
        </form>
    </div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>