<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Reader Menu</title>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container" style="max-width: 700px">

    <h3 class="page-header" style="margin-top: 50px">
        Welcome,
        <span th:text="${reader.reader_name}">Jiang</span>
        ! How can I help you today?
    </h3>
    <div class="well">
        <p>
            <a herf="#" th:href="@{'/reader/document/id'}">Search a document by ID</a>
        </p>
        <p>
            <a herf="#" th:href="@{'/reader/document/title'}">Search document by title</a>
        </p>
        <p>
            <a herf="#" th:href="@{'/reader/document/publisher'}">Search document by publisher name</a>
        </p>
        <p>
            <a herf="#" th:href="@{'/reserve/input'}">Document Reserve</a>
        </p>
        <p>
            <a herf="#" th:href="@{'/checkout'}">Document Checkout</a>
        </p>
        <p>
            <a herf="#" th:href="@{'/return/all'}">Return All Documents</a>
        </p>
        <p>
            <a herf="#" th:href="@{'/fine'}">Fine Calculator</a>
        </p>
        <p>
            <a herf="#" th:href="@{'/reserved'}">See All Reservation History</a>
        </p>
        <p>
            <a herf="#" th:href="@{'/reserved/copies'}">See Reserved Copies</a>
        </p>
        <p>
            <a herf="#" th:href="@{'/document/publisher/2'}">Find Document Detail By Publisher</a>
        </p>
    </div>
    <!--javascript.go(-1): return to previous page-->
    <a herf="#" th:href="@{'/login'}" class="btn btn-default">return</a>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>