<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Copy Input</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap-theme.min.css">
    <meta charset="UTF-8" >
</head>
<body>
<div class="container" style="max-width: 700px;">
    <h2 class="page-header">Failed! Please login first!</h2>
    <div class="well">
        <form action="#" th:action="@{/login}" method="get">
            <p class="text-center">
                <!--btn primary：button is blue-->
                <button type="submit" class="btn btn-primary">OK</button>
            </p>
        </form>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>